
*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
font-family: Arial;
}


.top-header{
background:gray;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.menu a{
color:white;
text-decoration:none;
margin-left:15px;
}



.page{
display:flex;
}



.side-menu{
background:#f2f2f2;
width:200px;
padding:20px;
display:flex;
flex-direction:column;
}

.side-menu a{
text-decoration:none;
margin-bottom:10px;
color:black;
}



.content{
flex:1;
padding:20px;
}



.box-area{
display:flex;
gap:10px;
margin-top:20px;
}

.box{
background:lightblue;
padding:20px;
flex:1;
text-align:center;
}



.info-section{
background:#e6e6e6;
padding:20px;
margin-top:20px;
}

.news-section{
background:#d9edf7;
padding:20px;
margin-top:20px;
}

/* footer */

.bottom-footer{
background:#333;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
